
#page-wrap {
max-width: 40em;
margin: 0 auto;
}

body, p, td, h4 { font-family: arial; font-siZe: 100%;
}


.mc1	{ border:1px solid #000; background-color:#fff; padding:0.5em 1em; width:17em; height: 18em; float:left; cursor:default; display:block; }

.pin	{ border:1px solid #E4E4E4; background-color:#E4E4E4; padding:0.5em 1em; width: 17em; height: 18em; float:left; display:block; }

.well { border:0 background-color:#fff; padding:0; width:1em; float:left; display:block; }



.button { margin: 0 auto; padding:0 0 20 0; border: 0; }

.button2 { width:100px; margin: 0 auto; padding:20 0 0 0; }




