html {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 20px 0px 20px 0px;
}

a {
  color: #bf112b;
}

p {
  margin: 0px 0px 20px 0px;
  line-height: 1.6;
}

#header {
  background: white;
  border-top: 3px solid #bf112b;
  border-bottom: 1px solid #eee;
  height: 70px;
}

#librarylink {
  position: absolute;
  width: 235px;
  height: 70px;
  margin-left: 10px;
  margin-right: 5px;
}

#librarylink a {
  color: black;
}

#carletonlogo{
  padding-top: 15px;
  height: 40px;
  float: left;
  margin-right: 9px;
}

#name {
  line-height: 1;
  height: 40px;
  float: left;
  padding-top: 19px;
}

#name-first {
  margin: 0px;
  line-height: 1;
  font-size: 0.6875rem;
  font-weight: 400;
}

#name-second {
  margin: 1px 0px 0px 0px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
}

#page-wrap {
  max-width: 768px;
  margin: 0 auto;
  border-top: 10px solid #bdbdbd;
}

.form-wrapper {
  max-width: 460px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #dfdfdf;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  clear: both;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 25px;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -.03125rem;
  margin-top: 0px;
}

label {
  display: block;
  margin: 10px 0px 3px 0px;
  font-weight: 600;
  font-size: .875rem;
}

input {
  display: block;
  margin: 10px 0px 25px 0px;
  font-size: 1.4rem;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit] {
  background-image: linear-gradient(-180deg,#3f9feb 3%,#0268b0);
  border: 1px solid #07c;
  box-shadow: 0 5px 4px 0 hsla(0,0%,51%,.5), inset 0 1px 3px 0 #e9f5ff;
  border-radius: 5px;
  min-height: 50px;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.125rem;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  margin-bottom: 10px;
}

input[type=submit]:hover {
  background-image: linear-gradient(-180deg,#50b2ff 3%,#0268b0);
  cursor: pointer;
}

.aside {
  padding: 20px 10px;
  float: right;
  max-width: 270px;
}

@media (max-width: 819px) {
  #page-wrap {
    max-width: 768px;
    padding: 0 10px;
    border-top: none;
  }

  .aside {
    float: left;
    max-width: none;
  }
}
